$color-primary-purple: #3d008d;
$color-purple: #3a0061;
$color-purple-pale: #f0e6fd;
$color-purple-dark: #270041;
$color-pink: #f391e3;
$color-pink-pale: #edd2ff;
$color-magenta: #8d006e;
$color-magenta-dark: #71008d;
$color-grey: #ccc;
$color-grey-dark: #424242;
$color-black-pale: #252525;
